.header__title {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-self: center;
  margin-left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}
