.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px; /* Минимальная высота блока: 600px */
  max-height: 756px; /* Максимальная высота блока: 756px; */
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: 0;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-self: center;
  margin-left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400; /* Исправлено со значения 500. 400 == normal */
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed; /* Добавлено */
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  z-index: 0;
}

.logo {
  width: 183px;
  height: 32px;
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  z-index: 4;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  display: flex;
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.description {
  background-color: #ffffff;
}

.two-columns {
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.two-columns__brief {
  margin-top: 0;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  width: 175px;
  font-weight: 400;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: table-column;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.section-title {
  margin: 100px auto 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: #ffffff;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.digits {
  margin: auto;
}

.table {
  width: 1100px;
  margin: 0  auto 100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_theme_dark {
  color:#ffffff;
  margin: 0  auto 90px;
  z-index: 2;
}

.table__cell {
  width: 250px;
  vertical-align: baseline;
  list-style: none; /* Добавлено, чтобы избежать присвоения свойства тегу li */
}

/* Блок__элемент_модификатор(вида ключ_значение)
  block__element_key_value */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 0;
}

.table__heading_theme_dark {
  margin-top: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  position:relative;
  min-height: 890px; /* Исправлено с 900px. Просто проглядел в брифе, что есть конкретное значение для этого свойства ¯\_(ツ)_/¯ */
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__title {
  margin: 100px auto 0 auto;
  padding-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  font-weight: 400; /* Исправлено со значения 500. 400 == normal */
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed; /* Добавлено */
}

.kaufman {
  position:relative;
  overflow: hidden;
  background-color: #1f1f1f;
  z-index: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: center;

  min-height: 350px;
  background-color: #1f1f1f;
  color: #ffffff;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  margin: 0 0 16px 0; /* Изменено */
  padding: 0;
  list-style: none; /* Добавлено, чтобы избежать присвоения свойства тегу li */
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
